{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='fnd/css/drift.css') }}">
{% endblock %}
{% block content %}
    {% if get_flashed_messages() %}
        {% for category, msg in get_flashed_messages(with_categories=True, category_filter=['warning', 'success']) %}
            <div class="alert alert-{{ category }} alert-dismissible fade show">
                {{ msg }}
                <button class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="drift-container">
        <div class="drift-head">
            向&nbsp;<span>{{ gifter.nickname }}</span>&nbsp;请求这本书
        </div>
        <div class="drift-body">
            <div class="drift-content">
                <div class="drift-info">
                    <div>以下为书籍赠送者信息，诚信度供您参考:</div>
                    <div>{{ gifter.nickname }}</div>
                    <div>飘叶<span>&nbsp;{{ gifter.beans }}个</span></div>
                    <div>送出/接受书籍<span>&nbsp;&nbsp;{{ gifter.send_receive }}</span></div>
                </div>
                <div class="drift-notice">
                    <div>
                        本次交易将消耗您<span>1</span>片飘叶，您当前还有<span>{{ user_beans }}</span>片飘叶
                    </div>
                </div>
                <form action="{{ url_for('web.send_drift', gid=gid) }}" method="post" class="drift-form"
                      id="drift-form">
                    {% if form %}
                        {{ form.csrf_token }}
                    {% endif %}
                    <div class="drift-form-container">
                        <div class="receiver-name">
                            <label for="name">收件人姓名</label>
                            <input type="text" name="recipient_name" id="name"
                                   value="{{ form.recipient_name.data | default('', true) }}">
                            <span class="name_msg"></span>
                        </div>
                        <div class="receiver-mobile">
                            <label for="mobile">收件人手机号</label>
                            <input type="text" name="mobile" id="mobile"
                                   value="{{ form.mobile.data | default('', true) }}">
                            <span class="mobile_msg"></span>
                        </div>
                        <div class="receiver-address">
                            <label for="address">书籍收件地址</label>
                            <textarea name="address" id="address" cols="30" rows="3"
                                      placeholder="如，张三 北京市清华大学666室。请务必确保该地址能够收到书籍">{{ form.address.data | default('',true) }}</textarea>
                            <span class="address_msg"></span>
                        </div>
                        <div class="receiver-tosay">
                            <label for="tosay">对赠书者说的话</label>
                            <textarea name="message" id="tosay" cols="30" rows="3"
                                      placeholder="Say Something，增加赠书者赠送给你的概率">{{ form.message.data | default('',true) }}</textarea>
                            <span class="tosay_msg"></span>
                        </div>
                        <div class="receiver-submit">
                            <div>
                                <button type="submit" class="btn btn-info btn-sm">提交</button>
                            </div>
                            <div>
                                提交信息，等待<span>{{ gifter.nickname }}</span>将此书寄送给您
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block right_menus %}
    {{ super() }}
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(function () {
            const form = $('#drift-form');
            const name = $('#name');
            const mobile = $('#mobile');
            const address = $('#address');
            const tosay = $('#tosay');
            const mobile_reg = /^1[3|4|5|7|8][0-9]{9}$/;

            let nameFlag = false;
            let mobileFlag = false;
            let addressFlag = false;
            let tosayFlag = false;

            name.blur(function () {
                if ($(this).val().trim() === '') {
                    $('.name_msg').html('<span style="color:red;">姓名不得为空</span>');
                    nameFlag = false;
                } else if ($(this).val().trim().length < 2) {
                    nameFlag = false;
                    $('.name_msg').html('<span style="color:red;">姓名错误</span>');
                } else {
                    $('.name_msg').html('');
                    nameFlag = true;
                }
            });

            mobile.blur(function () {
                if ($(this).val().trim() === '') {
                    $('.mobile_msg').html('<span style="color:red;">手机号不得为空</span>');
                    mobileFlag = false;
                } else if (!mobile_reg.test($(this).val().trim())) {
                    $('.mobile_msg').html('<span style="color:red;">手机号错误</span>');
                    mobileFlag = false;
                } else {
                    $('.mobile_msg').html('');
                    mobileFlag = true;
                }
            });

            address.blur(function () {
                if ($(this).val().trim() === '') {
                    $('.address_msg').html('<span style="color:red;">地址不得为空</span>');
                    addressFlag = false;
                } else if ($(this).val().trim().length < 10 || $(this).val().trim().length > 70) {
                    $('.address_msg').html('<span style="color:red;">地址错误</span>');
                    addressFlag = false;
                } else {
                    $('.address_msg').html('');
                    addressFlag = true;
                }
            });

            tosay.blur(function () {
                if ($(this).val().trim() === '') {
                    $('.tosay_msg').html('<span style="color:red;">不得为空</span>');
                    tosayFlag = false;
                } else if ($(this).val().trim().length < 5) {
                    $('.tosay_msg').html('<span style="color:red;">说些什么，比如，为什么想要这本书？</span>');
                    tosayFlag = false;
                } else {
                    $('.tosay_msg').html('');
                    tosayFlag = true;
                }
            });

            form.submit(function () {
                if (!nameFlag || !mobileFlag || !addressFlag || !tosayFlag) {
                    return false;
                }
            })
        })
    </script>
{% endblock %}