{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='fnd/css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fnd/css/forget_password.css') }}">
{% endblock %}
{% block content %}
    {% if get_flashed_messages() %}
        {% for category, msg in get_flashed_messages(with_categories=True, category_filter=['warning', 'success']) %}
            <div class="alert alert-{{ category }} alert-dismissible fade show">
                {{ msg }}
                <button class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="login-ui">
        <div class="login-header">
            <h6 class="title">请重置您的密码</h6>
        </div>
        <div class="form-container">
            <form action="" method="post" id="reset-password-form">
                {% if form %}
                    {{ form.csrf_token }}
                {% endif %}
                <div class="form-group">
                    <label for="id-password1">新密码</label>
                    <input type="password" name="password1" placeholder="请输入您的新密码" class="form-control" id="id-password1"
                           aria-describedby="emailHelp">
                    <span class="check-password"></span>
                    {% if form.password1.errors %}
                        {% for err in form.password1.errors %}
                            <span class="err">
                                {{ err }}
                            </span>
                        {% endfor %}
                    {% endif %}
                </div>
                 <div class="form-group">
                    <label for="id-password2">确认新密码</label>
                    <input type="password" name="password2" placeholder="请确认您的新密码" class="form-control" id="id-password2"
                           aria-describedby="emailHelp">
                    <span class="check-confirm-password"></span>
                    {% if form.password2.errors %}
                        {% for err in form.password2.errors %}
                            <span class="err">
                                {{ err }}
                            </span>
                        {% endfor %}
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-info btn-block">重置密码</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block right_menus %}
    {{ super() }}
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='fnd/js/forget_password.js') }}"></script>
{% endblock %}