{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='fnd/css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fnd/css/forget_password_request.css') }}">
{% endblock %}
{% block content %}
    {% if get_flashed_messages() %}
        {% for category, msg in get_flashed_messages(with_categories=True, category_filter=['warning', 'success']) %}
            <div class="alert alert-{{ category }} alert-dismissible fade show">
                {{ msg }}
                <button class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="login-ui">
        <div class="login-header">
            <h6 class="title">请填写您的邮箱帐号</h6>
        </div>
        <div class="form-container">
            <form action="{{ url_for('web.forget_password_request') }}" method="post" id="request-password-form">
                {% if form %}
                    {{ form.csrf_token }}
                {% endif %}
                <div class="form-group">
                    <label for="id-email">用户名</label>
                    <input type="text" name="email" placeholder="请输入您的邮箱帐号" class="form-control" id="id-email"
                           aria-describedby="emailHelp">
                    <span class="check-username"></span>
                    {% if form.email.errors %}
                        {% for err in form.email.errors %}
                            <span class="err">
                                {{ err }}
                            </span>
                        {% endfor %}
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-info btn-block">提交</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block right_menus %}
    {{ super() }}
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='fnd/js/forget_password_request.js') }}"></script>
{% endblock %}